# Data Science

> Online courses I've either completed or done a part of

- toc:true
- branch: master
- badges: true
- comments: true
- author: Thomas H. Simm
- categories: [coursera, mooc, data science, AI, Thomas Simm]

![](ghtop_images/header2.png)

<h2 id='LearnPy'> learnpython.org Python Development Course</h2>

In [1]:
import pandas as pd
import numpy as np

columns=['Course Title','Rating (0-10)']

dat=[['Variables and Types',7],
['Lists',7],
['Basic Operators',7],
['Strings',7],
['Conditions',7],
['Loops',7],
['Functions',7],
['Classes and Objects',7],
['Dictionaries',7],
['Modules and Packages',7],
['List Comprehensions',7],
['Regular Expressions',7],
['Exception Handling',7],
['Sets',7]]

lendat=np.shape(dat)[0]

ss = pd.DataFrame(data = dat,columns=columns)
ss.head(lendat)

            Course Title  Rating (0-10)
0    Variables and Types              7
1                  Lists              7
2        Basic Operators              7
3                Strings              7
4             Conditions              7
5                  Loops              7
6              Functions              7
7    Classes and Objects              7
8           Dictionaries              7
9   Modules and Packages              7
10   List Comprehensions              7
11   Regular Expressions              7
12    Exception Handling              7
13                  Sets              7

![](ghtop_images/LearnPy.png)

<h2 id='IBM_Data'> IBM Data Science Professional Certificate</h2>

In [2]:

columns=['Course Title','Expected Time (h)','Rating (0-10)']
#IBMds = pd.DataFrame(columns=columns)

dat = [['What is Data Science?',9,6],
    ['Tools for Data Science',17,6],
    ['Data Science Methodology',8,6],
    ['Python for Data Science, AI & Development',17,6],
    ['Python Project for Data Science',6,6],
    ['Databases and SQL for Data Science with Python',18,6],
    ['Data Analysis with Python',20,6],
    ['Data Visualization with Python',13,6],
    ['Machine Learning with Python',21,6],
    ['Applied Data Science Capstone',47,6]]

ss = pd.DataFrame(data = dat,columns=columns)

ssTot=pd.DataFrame(data = [['IBM Data- Overview',ss['Expected Time (h)'].sum(),ss['Rating (0-10)'].mean()]],columns=columns)
ss=ssTot.append(ss)
ss.reset_index(inplace=True,drop=True)
ss.head(12)

,Course Title,Expected Time (h),Rating (0-10)
0,IBM Data- Overview,176,6.0
1,What is Data Science?,9,6.0
2,Tools for Data Science,17,6.0
3,Data Science Methodology,8,6.0
4,"Python for Data Science, AI & Development",17,6.0
5,Python Project for Data Science,6,6.0
6,Databases and SQL for Data Science with Python,18,6.0
7,Data Analysis with Python,20,6.0
8,Data Visualization with Python,13,6.0
9,Machine Learning with Python,21,6.0
10,Applied Data Science Capstone,47,6.0

![](ghtop_images/IBM_Data.png)

<h2 id='Google_Data'> Google Data Analytics Professional Certificate</h2>

In [3]:
columns=['Course Title','Expected Time (h)','Rating (0-10)']
Googleds = pd.DataFrame(columns=columns)

dat = [['Foundations: Data, Data, Everywhere',20,3],
    ['Ask Questions to Make Data-Driven Decisions',18,3],
    ['Prepare Data for Exploration',22,3],
    ['Process Data from Dirty to Clean',22,3],
    ['Analyze Data to Answer Questions',25,3],
    ['Share Data Through the Art of Visualization', 23,3],
    [ 'Data Analysis with R Programming',38,3],
    [ 'Google Data Analytics Capstone: Complete a Case Study',10,3] ]
ss = pd.DataFrame(data = dat,columns=columns)

ssTot=pd.DataFrame(data = [['Google Data- Overview',ss['Expected Time (h)'].sum(),ss['Rating (0-10)'].mean()]],columns=columns)
ss=ssTot.append(ss)
ss.reset_index(inplace=True,drop=True)
ss.head(10)

,Course Title,Expected Time (h),Rating (0-10)
0,Google Data- Overview,178,3.0
1,"Foundations: Data, Data, Everywhere",20,3.0
2,Ask Questions to Make Data-Driven Decisions,18,3.0
3,Prepare Data for Exploration,22,3.0
4,Process Data from Dirty to Clean,22,3.0
5,Analyze Data to Answer Questions,25,3.0
6,Share Data Through the Art of Visualization,23,3.0
7,Data Analysis with R Programming,38,3.0
8,Google Data Analytics Capstone: Complete a Cas...,10,3.0

![](ghtop_images/googleCert.png)

<h2 id='Google_Data2'> Google IT Automation with Python Professional Certificate</h2>

In [4]:
columns=['Course Title','Expected Time (h)','Rating (0-10)','Percentage completed']
IBMds = pd.DataFrame(columns=columns)

dat=[['Crash Course on Python',32,8,100],
['Using Python to Interact with the Operating System',31,6,50],
['Introduction to Git and GitHub',19,8,100],
['Troubleshooting and Debugging Technique',19, np.NaN  ,0],
['Configuration Management and the Cloud',18, np.NaN,0],
['Automating Real-World Tasks with Python',13, np.NaN ,0]]
lendat=np.shape(dat)[0]


ss = pd.DataFrame(data = dat,columns=columns)

pctot=int(np.sum(ss['Percentage completed'] * ss['Expected Time (h)']/(ss['Expected Time (h)'].sum())))

ssTot=pd.DataFrame(data = [['Google Python- Overview',ss['Expected Time (h)'].sum(),(ss['Rating (0-10)'].mean(skipna=True)),pctot]],columns=columns)
ss=ssTot.append(ss)
ss.reset_index(inplace=True,drop=True)
ss.head(10)

,Course Title,Expected Time (h),Rating (0-10),Percentage completed
0,Google Python- Overview,132,7.333333,50
1,Crash Course on Python,32,8.000000,100
2,Using Python to Interact with the Operating Sy...,31,6.000000,50
3,Introduction to Git and GitHub,19,8.000000,100
4,Troubleshooting and Debugging Technique,19,NaN,0
5,Configuration Management and the Cloud,18,NaN,0
6,Automating Real-World Tasks with Python,13,NaN,0

![](ghtop_images/googlePython.png)

<h2 id='IBM_AI'>IBM AI Engineering Professional Certificate</h2>

In [5]:
columns=['Course Title','Expected Time (h)','Rating (0-10)']
IBMds = pd.DataFrame(columns=columns)

dat = [['Machine Learning with Python',21,6],
    ['Introduction to Deep Learning & Neural Networks with Keras',8,6],
    ['Introduction to Computer Vision and Image Processing',21,6],
    ['Deep Neural Networks with PyTorch',31,6],
    ['Building Deep Learning Models with TensorFlow',13,6],
    ['AI Capstone Project with Deep Learning', 16,6]]
ss = pd.DataFrame(data = dat,columns=columns)
ssTot=pd.DataFrame(data = [['IBM AI Engineering- Overview',ss['Expected Time (h)'].sum(),ss['Rating (0-10)'].mean()]],columns=columns)
ss=ssTot.append(ss)
ss.reset_index(inplace=True,drop=True)
ss.head(10)

,Course Title,Expected Time (h),Rating (0-10)
0,IBM AI Engineering- Overview,110,6.0
1,Machine Learning with Python,21,6.0
2,Introduction to Deep Learning & Neural Network...,8,6.0
3,Introduction to Computer Vision and Image Proc...,21,6.0
4,Deep Neural Networks with PyTorch,31,6.0
5,Building Deep Learning Models with TensorFlow,13,6.0
6,AI Capstone Project with Deep Learning,16,6.0

![](ghtop_images/IBM_AI.png)

<h2 id='ML_Stan'> Machine Learning Stanford</h2>

![](ghtop_images/Stanford_ML.png)

<h2 id='DeepLearn'> Deep Learning Specialization</h2>

In [6]:
columns=['Course Title','Expected Time (h)','Rating (0-10)','Percentage completed']


dat=[['Neural Networks and Deep Learning',23,8,100],
['Improving Deep Neural Networks: Hyperparameter Tuning, Regularization and Optimization',22,8,100],
['Structuring Machine Learning Projects',6,8,100],
['Convolutional Neural Networks',35, 8  ,100],
['Sequence Models',36, 8,20]]
lendat=np.shape(dat)[0]




ss = pd.DataFrame(data = dat,columns=columns)

pctot=int(np.sum(ss['Percentage completed'] * ss['Expected Time (h)']/(ss['Expected Time (h)'].sum())))

ssTot=pd.DataFrame(data = [['Deep Learning- Overview',ss['Expected Time (h)'].sum(),(ss['Rating (0-10)'].mean(skipna=True)),pctot]],columns=columns)
ss=ssTot.append(ss)
ss.reset_index(inplace=True,drop=True)
ss.head(10)

,Course Title,Expected Time (h),Rating (0-10),Percentage completed
0,Deep Learning- Overview,122,8.0,76
1,Neural Networks and Deep Learning,23,8.0,100
2,Improving Deep Neural Networks: Hyperparameter...,22,8.0,100
3,Structuring Machine Learning Projects,6,8.0,100
4,Convolutional Neural Networks,35,8.0,100
5,Sequence Models,36,8.0,20

![](ghtop_images/deepAI.png)

<h2 id='fastAI'> Fast AI</h2>

In [7]:
columns=['Course Title','Expected Time (h)','Rating (0-10)','Percentage completed']

dat=[['Week 1',12,9,100],
['Week 2',12,9,100],
['Week 3',12,9,100],
['Week 4',12,9,100],
['Week 5',12,9,0],
['Week 6',12,9,0],
['Week 7',12,9,0],
['Week 8',12,9,0],
['Week 9',12,9,0],
['Week 10',12,9,0],
['Week 11',12,9,0],
['Week 12',12,9,0],
['Week 13',12,9,0],
['Week 14',12,9,0]]


lendat=np.shape(dat)[0]




ss = pd.DataFrame(data = dat,columns=columns)

pctot=int(np.sum(ss['Percentage completed'] * ss['Expected Time (h)']/(ss['Expected Time (h)'].sum())))

ssTot=pd.DataFrame(data = [['Fast AI- Overview',ss['Expected Time (h)'].sum(),(ss['Rating (0-10)'].mean(skipna=True)),pctot]],columns=columns)
ss=ssTot.append(ss)
ss.reset_index(inplace=True,drop=True)
ss.head(lendat)

         Course Title  Expected Time (h)  Rating (0-10)  Percentage completed
0   Fast AI- Overview                168            9.0                    28
1              Week 1                 12            9.0                   100
2              Week 2                 12            9.0                   100
3              Week 3                 12            9.0                   100
4              Week 4                 12            9.0                   100
5              Week 5                 12            9.0                     0
6              Week 6                 12            9.0                     0
7              Week 7                 12            9.0                     0
8              Week 8                 12            9.0                     0
9              Week 9                 12            9.0                     0
10            Week 10                 12            9.0                     0
11            Week 11                 12            9.0                     0
12            Week 12                 12            9.0                     0
13            Week 13                 12            9.0                     0